<br/>

<p>
<% if params[:command] == 'checked_in' %>
  Click checkboxes to require a participant to complete the prep item
<% else %>
  Click checkboxes to mark paperwork items as received.
<% end %>
</p>

<%= sortable_table %>
  <thead><tr>
    <th>Name</th>  
    <th>Project</th>
    <% for prep_item in @prep_items %>
      <%= th prep_item.title, 'input' %>
    <% end %>
  </tr></thead>

  <tbody>
    
    <% for profile in @profiles %>
     <tr>
      <td><% if profile.class == StaffProfile %>(staff) <% end %><%= profile.viewer.try(:name) %></td>
      <td><%= profile.project.name %></td>
      <% for prep_item in @prep_items %>
        <% profile_prep_item = profile.profile_prep_items.  %>

        <% if true || params[:command] == 'checked_in' && prep_item.can_be_assigned(profile) || 
                params[:command] == 'received' && prep_item.is_assigned(profile) %>

          <% id = "prep_id_#{profile_prep_item.id}_profile_id_#{profile.id}_#{params[:command]}" -%>
          <td mochi:format='input'><%= check_box_tag id, profile_prep_item.send(params[:command]), profile_prep_item.send(params[:command]), :id => id, :onClick => 
                         remote_function(:url => {:controller => 'profile_prep_items', :action => "update", :id => profile_prep_item.id},
                                          :loading => "$('loading').show();",
                                          :complete => "$('loading').hide();",
                                          :with => "'profile_prep_item[#{params[:command]}]='+$('#{id}').checked+'&from_tools=true'",
                                          :method => :put
                                        )
               %>
          </td>
          
        <% else %>
          <td>&nbsp;</td>
        <% end %>
      <% end %>
     </tr>
    <% end %>

  </tbody>
</table>

<br />

<%= initialize_sortable_tables %>
<% if params[:from_tools]=="true" %>
  <a href="/tools/index">Back</a>
<% else %>
  <a href="/main/your_projects">Back</a>
<% end %>
