<%= stylesheet_link_tag "/extjs/src/ux/css/LiveSearchGridPanel.css" %>

<style>
  .x-reset .x-column-header-inner .x-column-header-text {
    white-space: normal; !important;
  }

  .x-grid-checkheader {
    height: 14px;
    background-position: 50% -2px;
    background-repeat: no-repeat;
    background-color: transparent;
  }

  .x-grid-checkheader-checked {
    background-image: url('/extjs/src/ux/css/images/checked.gif');
  }

  .x-grid-checkheader-unchecked {
    background-image: url('/extjs/src/ux/css/images/unchecked.gif');
  }

  .x-grid-checkheader-editor .x-form-cb-wrap {
    text-align: center;
  }
</style>

<script>
  checkHandler = function(menuCheckItem, recordIndex, record, checked) {
    Ext.Ajax.request({
      method: 'PUT',
      url: '/profile_prep_items/set_received',
      params: { profile_id: record.data.profile_id, prep_item_id: menuCheckItem.dataIndex, received: checked },
      success: function( result, request ){
        record.commit();
      }
    });
  };

  var columns = [
    { text: "Name", width: 200, sortable: true, dataIndex: "name" },
    { text: "Project", width: 180, sortable: true, dataIndex: "project" },
    <%- @prep_items.each do |prep_item| -%>
    { text: "<%= prep_item.title %>", flex: 1, dataIndex: "<%= prep_item.id %>", xtype: 'checkcolumn', listeners: { checkchange: checkHandler } },
    <%- end -%>
  ]

  var fields = [
    {name: 'name'},
    {name: 'project'},
    {name: 'profile_id'},
    <%- @prep_items.each do |prep_item| -%>
    { name: "<%= prep_item.id %>", type: 'auto' },
    <%- end -%>
  ];

  var profileData = <%= @profiles.collect{ |profile| 
    [ "#{profile.class == StaffProfile ? "(staff) " : ""}#{profile.viewer.try(:name)}", profile.project.try(:name), profile.id ] + 
      @prep_items.collect{ |prep_item| @prep_item_applicable_profiles[prep_item].include?(profile) ? profile.received_prep_items.include?(prep_item) : nil }
  }.to_json %>;

  console.log(columns);
  jQuery.getScript("/main/received_paperwork/live-search-grid.js");
</script>

<br/>
<br/>
<p>Click checkboxes to mark paperwork items as received.</p>
<br/>

<center>
  <div id="grid-example"></div>
</center>
