<p><b>This is a preview.  Hit "Convert" below to make the new conversion rate final.</b></p>

<% if @manual_donations.empty? %>
  <i>Couldn't find any manual donations matching those criteria</i>
<% else %>

<%= sortable_table %>
  <thead>
    <tr>
    <th>type</th>
    <th>date</th>
    <th>motv'n_code</th>
    <th>applicant</th>
    <th>project</th>
    <th>donor_name</th>
    <th>curr_status</th>
    <th mochi:format='currency'>curr_amount</th>
    <th mochi:format='float'>curr_rate</th>
    <th>new_status</th>
    <th mochi:format='currency'>curr_final_amount</th>
    <th mochi:format='float'>new_rate</th>
    <th mochi:format='currency'>new_final_amount</th>
    </tr>
  </thead>

  <% for d in @manual_donations %>
    <tr>
      <td><%= d.donation_type %></td>
      <td><%= d.created_at %></td>
      <td><%= d.motivation_code %></td>
      <td><%= p = @profiles[d.motivation_code]; if p && p.viewer then p.viewer.name else '?' end %></td>
      <td><%= p = @profiles[d.motivation_code]; if p && p.project then p.project.title else '?' end %></td>
      <td><%= d.donor_name %></td>
      <td><%= d.status %></td>
      <td><span><%= number_to_currency d.original_amount %></span></td>
      <td><%= d.conversion_rate %></td>
      <td><span><%= number_to_currency d.amount %></span></td>
      <td><%= params[:set_status] %></td>
      <td><%= @new_conversion_rate %></td>
      <td><span><%= number_to_currency d.original_amount.to_f * @new_conversion_rate %></span></td>
    </tr>
  <% end %>
</table>

<p>Pressing convert will convert the manual donations listed in the preview table with the new rate (<%= params[:rate] %>), new final amount, and new status (<%= params[:set_status] %>).</p>

<%= submit_to_remote 'Convert', 'Convert', :url => '/tools/convert_block_set_manual_donation_rate' %>

<%= initialize_sortable_tables %>

<% end %>
