<% @appln_person ||= @instance.viewer.person if @instance %>
<% @emerg = @appln_person.emerg if @appln_person %>

<%= custom_element_item("Birthdate: ", :emerg, :emerg_birthdate) do |m,c,classes|
      date_select m, c, :start_year => 100.years.ago.year, :end_year => 10.years.ago.year, :class => classes
    end
%>

<HR>

<P> <STRONG>Emergency Contact 1:</STRONG><BR />
<%= render :partial => 'profiles/crisis_info_emerg_contact', :locals => { :prefix => 'emerg_contact' } %>

<HR>

<P> <STRONG>Emergency Contact 2:</STRONG><BR />
<%= render :partial => 'profiles/crisis_info_emerg_contact', :locals => { :prefix => 'emerg_contact2' } %>

<HR>

<%= custom_element_item("Do you have any medical conditions that could potentially become an emergency?  If so, please explain.: <BR />", :emerg, :emerg_medicalNotes) do |m,c,classes|
      text_area m, c, :rows => 5, :cols => 80, :class => classes
    end
 %>

<%= custom_element_item("<P> Medication(s) Needed:  Will you be traveling with this medication on project? <BR />", :emerg, :emerg_meds) do |m,c,classes|
      text_area m, c, :rows => 5, :cols => 80, :class => classes
    end
 %>

<HR>

<P>

<STRONG>Health Info:</STRONG>

<P>

<%= custom_element_item("Health care province: ", :emerg, :health_province_id) do |m,c,classes|
        collection_select(m, c, Province.find(:all), :id, :province_desc, 
            { :include_blank => true }, { :class => classes })
    end
%>

<%= custom_element_text_field('Provincial/State insurance number: ', :emerg, :health_number) %>
<%= custom_element_text_field('Extended medical plan number: ', :emerg, :medical_plan_number) %>
<%= custom_element_text_field('Extended medical plan carrier: ', :emerg, :medical_plan_carrier) %>
<%= custom_element_text_field("Doctor's name: ", :emerg, :doctor_name) %>
<%= custom_element_text_field("Doctor's phone (include area code): ", :emerg, :doctor_phone) %>
<%= custom_element_text_field("Dentist's name: ", :emerg, :dentist_name) %>
<%= custom_element_text_field("Dentist's phone (include area code): ", :emerg, :dentist_phone) %>
<%= custom_element_item("Blood type: ", :emerg, :blood_type) do |m,c,classes|
      select(m, c, Emerg::BLOOD_TYPES, { :include_blank => true }, :class => classes)
    end
%>
<%= custom_element_item("Blood rh factor: ", :emerg, :blood_rh_factor) do |m,c,classes|
      select(m, c, Emerg::BLOOD_TYPE_RH, { :include_blank => true }, :class => classes)
    end
%>
<P>

<HR>

<P><STRONG>Passport Info:</STRONG> complete if going on an international project.

<P>What are the names on your passport?</P>

<%= custom_element_text_field('Surname: ', :appln_person, :person_legal_lname) %>

<%= custom_element_text_field('Given names: ', :appln_person, :person_legal_fname) %>

<%= custom_element_text_field('Passport #: ', :emerg, :emerg_passportNum) %>

<%= custom_element_item("Passport Expiry: ", :emerg, :emerg_passportExpiry) do |m,c,classes|
      date_select :emerg, :emerg_passportExpiry, { :end_year => 10.years.from_now.year,
                     :include_blank => true, :class => classes }
    end
 %>

<%= custom_element_text_field('Passport Nationality: ', :emerg, :emerg_passportOrigin) %>

<HR />
