<% @appln_person ||= @instance.viewer.person if @instance %>

<P>
What do you normally go by?

<%= custom_element_text_field('First name: ', :appln_person, :person_fname) %>

<%= custom_element_text_field('Last name: ', :appln_person, :person_lname) %>

<%= custom_element_item('Gender: ', :appln_person, :gender_id) do |m,c,classes|
      collection_select :appln_person, :gender_id, Gender.find(:all), :id, :gender_desc, {}, { :class => classes }
    end
%>

<%= custom_element_text_field('Email: ', :appln_person, :person_email) %>

<HR/>
<P><STRONG> Current Address </STRONG></P>
<%= render :partial => 'profiles/personal_info_address', :locals => { :label_prefix => 'Current ', :mid => 'local_' } %>

<HR>
<P><STRONG> Permanent Address </STRONG></P>
<%= render :partial => 'profiles/personal_info_address', :locals => { :label_prefix => 'Permanent ', :mid => '' } %>

<P> 
