<P>
What do you normally go by?

First name: <%= text_field :person, :person_fname %>
Last name: <%= text_field :person, :person_lname %>

<P> Gender: <%= collection_select :person, :gender_id, Gender.find(:all), :id, :gender_desc %>

<P> Email: <%= text_field :person, :person_email %>

<HR/>
<P><STRONG> Current Address </STRONG></P>
<%= render :partial => 'profiles/personal_info_address', :locals => { :label_prefix => 'Current ', :mid => 'local_' } %>

<HR>
<P><STRONG> Permanent Address </STRONG></P>
<%= render :partial => 'profiles/personal_info_address', :locals => { :label_prefix => 'Permanent ', :mid => '' } %>

<P> 


