<p class="smallDescriptionText">Do not check items until they are completed. Hover over the "?" for more information.</p>
  <ul id="toDoList">
    <% @profile.all_prep_items.group_by(&:prep_item_category).sort.each do |category, prep_items| %>
      <% prep_items.group_by(&:deadline).sort.each do |deadline, prep_items| %>
        <%= [ category.try(:title), deadline.strftime("%B %d") ].compact.join(" - ") %>
        <% prep_items.sort.each do |prep_item| %>
          <% ppi = @profile.profile_prep_items.find_by_prep_item_id(prep_item.id) %>
          <% next if ppi.try(:completed_at) %>
          <li class="toDoPriority<%= prep_item.priority %>">
            <%= check_box_tag :"#{prep_item.title}", "1", false, :id => "pi_#{prep_item.id}" %>
            <% content_tag(:span, :id => "pi_#{prep_item.id}_span", :onClick => "$('pi_#{prep_item.id}').checked = !$('pi_#{prep_item.id}').checked; complete_prep_item(#{prep_item.id}, #{@profile.id})", :class => "button") do %>
              <%= prep_item.title %>
            <% end %>
            <%= tooltip(prep_item.id, prep_item.description) %>
            <script>Event.observe('pi_<%= prep_item.id %>', 'change', function() { complete_prep_item(<%= prep_item.id %>, <%= @profile.id %>); })</script>
          </li>
        <% end %>
      <% end %>
    <% end %>
  </ul>
<hr id="toDoCompletedDivider">
<p id="completedItems">Completed Items</p>
<p class="smallDescriptionText">Items received by our office will turn grey.</p>
<ul>
  <% @profile.all_prep_items.sort.each do |prep_item| %>
    <% ppi = @profile.profile_prep_items.find_by_prep_item_id(prep_item.id) %>
    <% next unless ppi.try(:completed_at) %>
    <li class="toDoCompleted">
      <%= check_box_tag :"#{prep_item.title}", "1", true, :id => "ppi_#{ppi.id}", :disabled => ppi.received_at %>
      <% content_tag(:span, :id => "pi_#{prep_item.id}_span", :onClick => ("$('ppi_#{ppi.id}').checked = !$('ppi_#{ppi.id}').checked; uncomplete_prep_item(#{prep_item.id}, #{@profile.id})" unless ppi.received_at), 
                     :class => "#{'button' unless ppi.received_at} #{'toDoReceived' if ppi.received_at}") do %>
        <%= prep_item.title %>
        <%= tooltip(prep_item.id, prep_item.description) %>
      <% end %>
      <% unless ppi.received_at %>
        <script>Event.observe('ppi_<%= ppi.id %>', 'change', function() { uncomplete_prep_item(<%= prep_item.id %>, <%= @profile.id %>); })</script>
      <% end %>
    </li>
  <% end %>
</ul>
