<% content_for(:subtitle) do %><%= @profile.project.title %><% end -%>

<link rel="stylesheet" href="/stylesheets/profiles.css" type="text/css">
<script>var progress = <%= @profile.support_claimed_percent %>;</script>
<%= javascript_include_tag "jsProgressBarHandler" %>
<%= javascript_include_tag "profiles" %>

<div id="contentWrapper">
  <div id="leftColumn">
    <div id="toDoBox">
      <h3 class="boxTitle"><img src="/images/boxTitle/toDoIcon.png" class="boxTitleIcon"> To Do</h3>
      <div class="boxContent">
        <%= render :partial => "profiles/todolist" %>
      </div>
    </div>
    <div id="travelBox">
      <h3 class="boxTitle"><img src="/images/boxTitle/travelIcon.png" class="boxTitleIcon"> Travel Information</h3>
      <div class="boxContent">
        <ul id="travelList">
          <li><span style="color:grey;">Itinerary</a></li>
        </ul>
        <p class="smallDescriptionText">Itinerary will become blue when available.
          <% if @profile.project.itinerary_available %>
            You will not receive itinerary info before <%= @profile.project.itinerary_available %>
          <% end %>
        </p>
      </div>
    </div>
  </div>
  <div id="centerColumn">
    <% unless @profile.seen_help %>
      <%= render "profiles/help" %>
    <% end %>

    <div id="supportBox">
      <h3 class="boxTitle"><img src="/images/boxTitle/supportIcon.png" class="boxTitleIcon"> Support</h3>
      <div class="boxContent">
        <h2 class='big'>You need to raise <%= format_currency(@profile.cached_costing_total) %><% if @profile.project.support_deadline %>by <%= @profile.project.support_deadline %><% end %></h2>
        <% if @profile.support_coach %>
          <p>Your support coach <b><%= @profile.support_coach.name %></b> is here to help you do that.</p>
          <p><b><%= @profile.support_coach.name %></b> •
          <% if cell = @profile.support_coach.person.cell_phone %>
          <b>cell</b>: <%= cell %>
          <% elsif local_phone = @profile.support_coach.person.local_phone %>
          <b>phone</b>: <%= local_phone %>
          <% end %> •
          <b><%= @profile.support_coach.email %></b> </p>
        <% else %>
          <p>No support coach assigned.</p>
        <% end %>
        <h3 id="youveRaisedTitle">You've raised $<span style="color:green;"><%= in_place_editor_field(:profile, :support_claimed_currency) %></span> <span style="color:grey;">We've received $<%= "%0.2f" % @profile.donations_total %>.</span></h3>
        <div id="chartContainer">
          <dl id="chart">
            <dd><span id="data-one" style="width: <%= [@profile.support_claimed_percent, 100].min %>%"><%= @profile.support_claimed_percent %>%</span></dd>
          </dl>
        </div>
        <div id="chartNumbers">
          <table id="chartNumbers">
            <tbody><tr>
                <td style="text-align:left;">$0</td>
                <td style="text-align:center;"><%= format_currency(@profile.cached_costing_total / 2) %></td>
                <td style="text-align:right;"><%= format_currency(@profile.cached_costing_total) %></td>
              </tr>
          </tbody></table>
        </div>
        <h3 class="supportTitles">Expenses</h3>
        <p>You can add some costs, such as vaccinations and medical expenses, to your fundraising amount. Check your acceptance package, or check with your support coach to be sure your expense is covered.
          <%= link_to_function "Edit Expenses", %|new Ext.Window({title: "Expenses", modal: true, autoLoad: {url: '/profiles/#{@profile.id}/costing', scripts: true}, width: 600, height: 600}).show()| %></p>
        <h3 class="supportTitles">How to Receive Donations</h3>
        <div id="supportBoxLeftColumn">
          <h4>Online</h4>
          <p>Send this info &amp; donate link to supporters: <a href="#"><%= link_to_function "Click to copy", "Ext.MessageBox.show({title: 'Donate Link', msg: 'Copy the donate link below', width: 600, buttons: Ext.MessageBox.OK, multiline: true, value: 'link here', defaultTextHeight: 20}); jQuery('.x-window').find('textarea').select()" %></a></p>
        </div>
        <div id="supportBoxRightColumn">
          <h4>Snail Mail</h4>
          <p>Make cheques payable to:<br>
          Power to Change Ministries<br>
          20385 - 64th Avenue<br>
          Langley, BC V2Y 1N5</p>
        </div>
        <h3 class="supportTitles">Tax Receipts for Cash/Cheque Donors</h3>
        <p>All donations need to be recorded on a record of funds form. Your project title and project code are 
        <i><%= @profile.project.title %> <%= @profile.motivation_code %></i>. Collect cheques and cash, enter donor
        information on the form and send the completed form and all cheques and money orders in to the address
        above every couple of weeks. Please do not send cash in the mail.  <% if @eg.get_record_of_funds_form %>
        Download the form <%= link_to "here", @eg.get_record_of_funds_form.public_filename %>.<% end %>
        </p>
        <p>Need more info on donations? Check the finance acceptance document in the Resource section.</p>
      </div>
    </div>

    <% if @profile.seen_help %>
      <%= render "profiles/help" %>
    <% end %>
  </div>
  <div id="rightColumn">
    <!--
    <div id="forumBox">
      <h3 class="boxTitle">img src="/images/boxTitle/forumIcon.png" class="boxTitleIcon">Forum</h3>
      <div class="boxContent">
        <h4 class="forumQuestion">Forum content?</h4>
        <p class="forumAnswer"> Nam pulvinar, odio sed rhoncus suscipit, sem diam ultrices mauris, eu consequat purus metus eu velit. Proin metus odio, aliquam eget molestie nec, gravida ut sapien. Phasellus quis est sed turpis sollicitudin venenatis sed eu odio. Praesent eget neque eu eros interdum malesuada non vel leo.</p>
        <h4 class="forumQuestion">Sed fringilla porta ligula egestas tincidunt?</h4>
        <p class="forumAnswer">Nullam risus magna, ornare vitae varius eget, scelerisque a libero. Morbi eu porttitor ipsum. Nullam lorem nisi, posuere quis volutpat eget, luctus nec massa. Pellentesque aliquam lacinia tellus.</p>
      </div>
    </div>
    -->
    <div id="resourcesBox">
      <h3 class="boxTitle">&nbsp;<img src="/images/boxTitle/resourcesIcon.png" class="boxTitleIcon"> Resources</h3>
      <div class="boxContent">
        <% if @eg.resources.present? %>
          <ul id="resourcesList">
            <li><h4>Files/PDFs</h4></li>
            <% @eg.resources.each do |resource| %>
              <li>
                <% link_to resource.public_filename do %>
                  <%= resource.title %>
                  <img src="/images/downArrow.png">
                <% end %>
                <%= tooltip(resource.id, resource.description) %>
              </li>
            <% end %>
          </ul>
        <% else %>
          <p class="smallDescriptionText">No resources available at this time.</p>
        <% end %>
      </div>
    </div>
  </div>
</div>
