<% if !@viewers.nil? %>
  <hr />
  <p>Click on a viewer to merge - you probably want the one with the most profiles.</p>
  <% if @viewers.length > 0 %>
      <p><%= sortable_table %>
        <thead><tr>
          <%= th 'person record' %>
          <%= th 'name' %>
          <%= th 'viewer id', :type => 'int' %>
          <%= th 'username' %>
          <%= th 'email' %>
          <%= th 'campus' %>
          <%= th 'gcx' %>
          <%= th '# profiles' %>
          <%= th 'last login' %>
        </tr></thead><tbody>
        <% for viewer in @viewers %>
          <tr id="row_<%=viewer.id%>" class="search_result <%= 'inactive' if viewer.viewer_isActive == 0 %>" >
            <% if viewer.person %>
              <td>yes</td>
            <% else %>
              <td>no</td>
            <% end %>
            <td>
              <% 
                view_result_params = { 
                  :url => { :action => 'merge', :id => @subject.id, :recipient_id => viewer.id },
                  :before => "$('saving').show()",
                  :complete => "$('saving').hide()",
                  :with => "'skip_profiles='+$F('skip_profiles')",
                  :confirm => "Are you sure you want to merge viewer #{@subject.id} to viewer #{viewer.id}, and #{@subject.id} to be set to inactive?",
                  :method => :post
                }
                 %>
                <%= link_to_remote viewer.name, view_result_params %>
            </td>
            <td><%=h viewer.id %></td>
            <td><%=h viewer.viewer_userID %></td>
            <td><%=h viewer.person.person_email if viewer.person %></td>
            <td><%=h viewer.person.campus_shortDesc %></td>
            <td><%=h 'gcx' unless viewer.guid.empty? %></td>
            <td><%=h viewer.profiles.length %></td>
            <td><%=h viewer.viewer_lastLogin %></td>
            <td>
              <span id="finding_viewer_specifics_<%= viewer.id %>" style="clear:both; display:none;">
                <%=image_tag('spinner.gif')%><br />
              </span>
            </td>
          </tr>
        <% end %>
      </tbody></table></p>
  <% else %>
      <p><i>No results found.</i></p>
  <% end %>
<% end %>
