  <%
  validated_cache_str ||= ""
  @validated_cache = []
  @pages.each_with_index do | this_page, i |
    i2 = i + 1
    valid = this_page.validated?(@instance)
    @validated_cache[i2] = valid
    validated_cache_str += (i2 == 1 ? '' : ',') + " #{valid.to_s.downcase}"
  end %>

<table id="form" width="100%" border="0" rules="none" cellpadding="0" cellspacing="1">
	<tr valign="top" align="right">
		<td colspan="2">
	    <table border="0" rules="none" cellpadding="0" cellspacing="0">
	     	<tr valign="top" align="right">
	     		<td id="page_list">
	     			<table border="0" rules="none" cellpadding="0" cellspacing="0">
	       			<% @page_item_size = 20 %>
	        		<tr align="center" valign="center" height="<%=@page_item_size%>">
	            	<td style="border-width: 0px;">	</td>
	           		<% @init_script = "" %>
	            	<% @init_script = "" %>
	            	<%= menu('page_td') { |i2, item_id, this_page|
	               	%|
		                <td id="#{item_id}"
		                 	onMouseOver="hover_on(this);" 
		                 	onMouseOut="hover_off(this);" 
		                 	onClick="javascript:post_form('#{i2}');">
		                </td>
	               	| }
	            	%>
	      			</tr>
	      		</table>
	    		</td>
	  		</tr>
			</table>
	  </td>
	</tr>
	<tr valign="top" id="questionnaire_content_with_menu">
		<td id="section_list">
	    <ul>
	      <%= menu('section_li') { |i2, item_id, this_page|
	             %| <li id="#{item_id}"
	                 onMouseOver="hover_on(this);" 
	                 onMouseOut="hover_off(this);"
	                 onClick="javascript:post_form('#{i2}');">
	                   #{this_page.title}
	               </li>
	             | }
	       %>
				<li>&nbsp;<!-- empty line --></li>
				<li>Legend:</li>
				<li class="completed_menuinactive" >Completed Page</li>
				<li class="incomplete_menuinactive" >Incomplete Page</li>
				<li class="required">Required Field</li>
				<li>&nbsp;</li>
				<li><%= link_to 'Printer view', { :action => (params[:parent_action] || params[:action]), 
				        :controller => params[:controller]}.merge(@pass_params.merge({:view => 'print'})), 
				        :target => '_blank' %></li>
				<li>&nbsp;</li>
	    </ul>
		</td>
		<td id="form_centercontent">
	    <% for i in 1..@pages.size  %>
	    <%=  form_tag({:action => "get_page"}, {:id => "form"+i.to_s}) %>
	            <input type="hidden" name="no_save" value="1">
	            <input type="hidden" name="save_only" value="true">
	            <input type="hidden" name="next_page" value="<%=i+1%>">
	            <input type="hidden" name="current_position" value="<%=i%>">
	            <!-- add all the params that the original page got -->
	            <% (@pass_params || {}).each_pair do |k,v| %>
	              <input type="hidden" name="<%=k%>" value="<%=v%>">
	            <% end %>
	    <%   if i == @position -%>
	           <div id="content<%=i%>" class="form"><%= yield %></div>
	    <%   else-%>
	           <div id="content<%=i%>" class="form" style="display:none"></div>
	    <%   end %>
	         </form>
	         <%= observe_form("form"+i.to_s, :function => "auto_save(#{i});", :frequency => 30)%>
	       <% end %>
	    </form>
	    <div id="controls" align="center">
	      <div id="loading" style="display:none">
	        Loading <%=image_tag('spinner.gif')%><br />
	      </div>
	      <div id="validating" style="display:none">
	        Saving and validating page <%=image_tag('spinner.gif')%><br />
	      </div>
	      <div id="back">
	        <% if @position != 1 %>
	          <a class="button" href="javascript:post_form(current_page-1)">&lt;&lt;Back</a>
	        <% end %>
	      </div>
	      <div id="save_button">
	        &nbsp;&nbsp;&nbsp<a class="button" href="javascript:save_page()">Save Now</a> 
	        &nbsp;&nbsp;
	        <%=image_tag('spinner.gif', :id => 'spinner2', :style => 'display:none')%>
	      </div>
	      <div id="saved_at">Saved at: <%= @instance.updated_at %></div>
	      <div id="next">
	        <% if @position != @pages.length %>
	       		<a class="button" href="javascript:done_page()">Done. Next&gt;&gt;</a>
	        <% end %>
	      </div>
	      <div id="dirty">
	      </div>
	    </div>
		</td>
	</tr>
</table>

<script type="text/javascript">  
    autosave_seconds = 60;
    setInterval('auto_save();', autosave_seconds * 1000);
    
    completed = [ <%= validated_cache_str %> ];
    
    current_page = <%= @position %>;
    next_page = <%= @position + 1 %>;
    
    <%=@init_script%>
    
    init();
</script>

<div id="update_completedness_last_pg">
</div>
