<% form_remote_for prep_item,
      :url => "/prep_items/#{prep_item.id}.js",
      :loading => "$('loading').show();",
      :loaded => "$('loading').hide();" do |f| %>
  
    <%= render :partial => 'prep_items/form', :locals => { :f => f }  %>
  
  <p>
    <% if prep_item.applies_to == :event_group %>
      <%= check_box_tag "#{prep_item.id}_event_group_prep_item", 1, true %> This item applies to all projects
    <% else %>
      <%= check_box_tag "#{prep_item.id}_event_group_prep_item" %> This item applies to all projects
    <% end %>
    <br />
  </p>
  
  <div id="<%= prep_item.id %>_projects_list">
    <p>
    <% for project in @checkbox_projects %>
      <%= check_box_tag "prep_item[project_ids][]", project.id, prep_item.projects.include?(project) %> 
      <%= 'Applies to ' + project.title %> <br />
    <% end %>
    </p>
  </div>
  
  <%= observe_field "#{prep_item.id}_event_group_prep_item", :function => "$('#{prep_item.id}_projects_list').toggle();" %>
  
    <%= submit_tag 'Save' %>
    
    <%= link_to_function 'cancel', "$('edit_#{prep_item.id}').hide(); $('show_#{prep_item.id}').show();" %>
<% end %>