<%

def brand_link(link)
  if link.include? "?"
    link << "&"
  else
    link << "?"
  end
  link << "template=https://d15ip9v2bx8xzx.cloudfront.net/media/sso/p2c_style.css"
  link.gsub("login?", "login.htm?")
end

%>
<table id='login_table' border='0'>
  <!--
  <tr>
    <td><img src="/images/login.jpg" width="50px"/></td>
    <td>
      <%= link_to_function 'Login with Campus for Christ intranet account', "Effect.SlideDown('login_form')" %>
    </td>
  </tr>
  -->
  <tr>
    <td></td>
    <td>
      <div id='login_form' style='display:none'><%= render :partial => 'cim_login_form' %></div>
    </td>
  </tr>
  <tr>
    <td><%= link_to image_tag('logo_thekey.png', :height => '50px', :width => '100px', 
                              :style => 'vertical-align: middle'),
                          brand_link(CASClient::Frameworks::Rails::Filter.login_url(controller)) %></td>
    <td><%= link_to 'Login with TheKey (formerly GCX)', brand_link(CASClient::Frameworks::Rails::Filter.login_url(controller)) %></td>
  </tr>
</table>

<%= render :partial => 'account_links' %>
