<div>
<div id='link_gcx_pastlogin_q' class="centerblock">
  <P>Welcome!</P>
  <P class='link_gcx_medium'>Have you logged in to the PAT or our campus intranet before?</P>
  <P class='link_gcx_indent'><%= image_tag 'link_gcx_screenshots.png', :width => '450px;', :height => '132' %>
</div>

<div id='link_gcx_pastlogin_yesno' class='centerblock link_gcx_indent'>
  <P><%= link_to 'Yes', '#', :onClick => "Effect.SlideDown('link_gcx_pastlogin_yescontent');", :class => 'link_gcx_big' %></P>
  <div style='<%= "display:none;" unless params[:try_again] %>' id='link_gcx_pastlogin_yescontent' class='link_gcx_indent'><div class="link_gcx_indent">

<% form_tag :action => :do_link_gcx do -%>
  <p>Please enter your previous login and password and hit submit.</p>

  <table>
    <tr><td>Username:</td><td><%= text_field_tag 'username', params[:username], {} %></td></tr>
    <tr><td>Password:</td><td><%= text_field_tag 'password', {}, :type => 'password' %></td></tr>
  </table>

  <p><%= submit_tag 'Submit', :id => 'submit' %></p>

  <br />
<% end -%>

  </div></div>
  <BR />
  <P><%= link_to 'No', { :controller => :security, :action => :do_link_gcx_new }, :method => :post, :class => 'link_gcx_big' %></P>
</div>


