<%= f.error_messages %>
  <p>
    <%= f.label :notes %><br />
    <%= f.text_area :notes, :rows => 3 %>
    <p>
    <%= f.check_box :submitted %> <%= f.label "I have submitted this form" %>
    </p>
  </p>
